body {
    background-color: #1a1a1a;
    color: #FFD700;
    font-family: 'lora', serif;
    margin: 0;
    padding: 0;
}


h1, h2, h3 {
    color: #FFD700;
    font-family: 'Playfair Display', serif;
    margin: 1em 0 0.5em 0;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-top: 2em;
}

h3 {
    font-size: 1.5em;
    margin-top: 1.5em;
}


p, li {
    color: #FFD700;
    font-family: 'Lora', serif;
    margin: 1em 2%;
    line-height: 1.5em;
}

ul {
    margin-left: 2em;
}


a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


button {
    color: #1a1a1a;
    background-color: #FFD700;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: 'Lora', serif;
    margin-top: 1em;
    border-radius: 4px;
}

button a {
    color: #1a1a1a;
    text-decoration: none;
}


button:hover {
    background-color: #e6c200;
}

#Прайс-лист, .V-Bucks {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 2em;
}

.V-Bucks img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

header {
    text-align: center;
    padding: 1em 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
    border-top: 1px solid #FFD700;
}

section {
    padding: 1em 0;
}
.v-bucks{
    text-align: center;
}
.fps{
    text-align: center;
}
.fp{
    text-align: center;
}
.coutch{
    text-align: center;
}
.pr{
    text-align: center;
}
