p{
    margin:2%;
}
body,h1, p, h2, p, ul, li{
    font-family: sans-serif;
}
br{
    font-family: sans-serif;
    
}
body {
background-color:#1a1a1a;
color: #FFD700;
}
h1{
 color:#FFD700;
}
p{
 color:#FFD700;
}
h2{
color:#FFD700;
}
ul{
 color:#FFD700;
}

li{
color:#FFD700;
}
h3, h4{
color:#FFD700;
}
a{
 color:#FFD700;
}
h1{
 font-family: 'playfair display', serif;
}
h2{
font-family: 'playfair display', serif;
}
h3{
 font-family: 'playfair display', serif;
}
p{
 font-family: 'lora', serif;
}
li{
 font-family: 'lora', serif;
}
a{
 font-family: 'lora', serif;}
 button{
    color: #1a1a1a;
    background-color: rgb(0, 0, 0);
 }
 
