body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 30px;
  background: #1e293b;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  background: #1e293b;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 0;
}

button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0ea5e9;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1e293b;
  margin-top: 40px;
}
a{
  text-decoration: none;
}
